.fa, .fas, .ni {
    color: #525f7f
}
#Invoice-downloadButton a:hover, a {
    text-decoration: none;
    color: #525f7f!important;
}
  
input::placeholder, .CheckoutInput::placeholder {
    font-size: 13px!important;
    color: #bbbbc2!important;
    font-family:Open Sans, sans-serif
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbbbc2!important;
    font-family:Open Sans, sans-serif
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #bbbbc2!important;
    font-family:Open Sans, sans-serif
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #bbbbc2!important;
    font-family:Open Sans, sans-serif
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #bbbbc2!important;
    font-family:Open Sans, sans-serif
  }
 
.Tabs-Container  input {
    color:#1A1A1A!important;
    font-family:Open Sans, sans-serif;
    font-size: 13px!important;
} 

.Tabs-Container {
    position:relative
}
.product-qty{
    
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    line-height: 14px
}

.product_file{
    text-decoration: underline;
    color: #999999 !important;
    font-size: 12px;
    line-height: 14px
}

.product_file:hover{
    text-decoration: underline;
    color: #ababab !important;
}


.product-name{
    
    text-decoration: none !important;     
    font-size: 14px !important;
    line-height: 16px !important;
    word-break: break-word !important; 
}

.total{
    text-decoration: none !important;
  /*  color: #1A1A1A !important;*/
    font-size: 36px !important;
    line-height: 40px !important;
    font-weight: 600 !important;                                                                                              
}    
.due_date{
    text-derrcoration: none;
    color: #7A7A7A;
    font-size: 13px;
    line-height: 24px;
    
}
.td_invoice{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 76px; max-width: 76px;
    padding-top:20px!important;      
}
.invoice_svg{
    color:#000;
    border: 0; 
    margin: 0 auto;
    padding: 0; 
    display: block;
}
.toFrom{
    text-decoration: none;    
    font-size: 14px;
    line-height: 16px;
}

.customer_name{
    text-decoration: none;
    color: #1A1A1A;
    font-size: 14px;
    line-height: 16px;
}
.col-spacer{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;    
    min-width: 32px; width: 32px; font-size: 1px;
}
.border-details{
     border: 0 ;
     border-collapse: collapse ;
     margin: 0 ;
     padding: 0 !important;  
     height: 1px; 
     font-size: 1px; 
     background-color: #ebebeb; 
     line-height: 1px;
}
.italic{
    font-style:italic
}
.line1{
    border: 0 !important;
    border-collapse: collapse !important;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 32px !important;
    width: 32px; 
    font-size: 1px !important;
}
.line2{
    border: 0; 
    border-collapse: collapse; 
    margin: 0; 
    padding: 0 !important; 
    height: 1px; 
    font-size: 1px !important; 
    background-color: #ebebeb; 
    line-height: 1px;
}
.top-line{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0!important;
    height: 15px!important;
    font-size: 1px!important;
    line-height: 1px;
    mso-line-height-rule: exactly;
}
.bottom-line{
    height:15px!important;
    border: 0; 
    margin: 0; 
    padding: 0!important; 
    font-size: 1px; 
    line-height: 1px; 
    max-height: 1px; 
    mso-line-height-rule: exactly;
}
.margin-left-amount{
    margin-left:30px!important
}
.span-amount{
    text-decoration: none;    
    font-size: 14px;
    line-height: 16px;    
    white-space: nowrap;    
}

.table{
    width:100%;
    margin-bottom:0px!important;
}
.payment-errors {    
    padding: 2px 15px;
    margin-top: 12px;
}
.table th, .table td{
    border-top: 0px!important;
}
.td{
      border: 0;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 482px; 
      border-radius: 12px;  
      box-shadow: 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
}
.Divider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.Divider-Text {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 8px;
    white-space: nowrap;
    background-color: #fff;
}
.Divider hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(26,26,26,.1);
}
.Text-transform--uppercase {
    text-transform: uppercase;
}
.Text-color--gray400 {
    color: rgba(26,26,26,.5);
}
.Text-fontWeight--500 {
    font-weight: 500;
}
.Text-fontSize--12 {
    font-size: 12px;
}
.Text {
    margin: 0;
}
.InvoiceSummaryPostPayment .InvoiceThumbnail {
    margin-bottom: 24px;
}
.InvoiceThumbnail-image {
    margin-left: -13px;
    margin-top: -25px;
}
.is-desktop .InvoiceThumbnail {
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease,-webkit-transform .1s ease;
}
.InvoiceThumbnail {
    height: 74.8467px;
    width: 60.5902px;
    position: relative;
}
.InvoiceThumbnail-successMark path {
    fill: #1ea672;
}
.width-12 {
    width: 100%;
}
.flex-item {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 0;
    max-width: 100%;
}
.Button--link {
    padding: 0;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    text-decoration-skip-ink: none;
    -webkit-tap-highlight-color: transparent;
}
.Text-color--gray400 {
    color: rgba(26,26,26,.5);
}
.Text-fontSize--14 {
    font-size: 14px;
}
.Text {
    margin: 0;
}
.ViewInvoiceDetailsLink .InlineSVG path {
    fill: rgba(26,26,26,.5);
}
.Icon--sm {
    height: 12px;
}
.Button-Icon--right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-left: 8px;
    font-weight: 300;
}
.ViewInvoiceDetailsLink .InlineSVG {
    margin-left: 4px;
}
.Icon--sm.Icon--square {
    width: 12px;
}
.ViewInvoiceDetailsLink .Text {
    color: rgba(26,26,26,.5);
}
.Button--md {
    font-size: 14px;
    padding: 8px 16px;
}
.InvoiceThumbnail-successMark {
    position: absolute;
    right: -10px;
    top: 65px;
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    padding: 0;
    background-color: #fff;
    border-radius: 40px;
}
.direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-container {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.align-items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ContentCard {
    box-shadow: 0 0 0 1px hsl(0deg 0% 100% / 20%), 0 15px 35px 0 rgb(255 255 255 / 8%), 0 5px 15px 0 rgb(0 0 0 / 6%);
    border-radius: 6px;
    background-color: #fff;
    padding: 32px 32px 16px;
    max-width: 470px;
    min-width: 320px;
    margin: auto;
    height: auto!important;
}
.td2{
      border: 0;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%; 
      width: 482px; 
      border-radius: 12px; 
      background-color: #e3e8ee; 
      padding: 1px;
}
.table-content{
    width: 100%; 
    background-color: #ffffff; 
    border-radius: 12px;
}
.td3{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    min-width: 32px; 
    width: 32px; 
    font-size: 1px;
}
.td4{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding-bottom: 0px!important;
    width: 100%;

}
.td5{
    border: 0; 
    margin: 0; 
    padding: 0; 
    font-size: 1px; 
    line-height: 1px; 
    max-height: 1px; 
    mso-line-height-rule: exactly;
}
.td6{
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%; 
    padding-bottom: 2px;
}






.Tabs-TabPanelContainer > :nth-last-child(2):first-child {
    position:absolute
}

.Tabs-TabList {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    position:relative
}

.Tabs-PrintableTabPanelContainer {
    display:none
}

 

.Tabs.is-icontabs .Tabs-TabList {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content:space-between
}

.Tabs.is-contenttabs .Tabs-TabList {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-shadow:inset 0 -1px #e3e8ee
}

.Tabs-TabListOverflowContainer {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position:relative
}

.Tabs-TabListItemContainer--overflow-button svg {
    width:16px
}

.Tabs-TabListItemContainer--overflow-button .Tabs-TabListItem--overflow-toggle {
    display:block
}

.Tabs-TabListItem--overflow-toggle .Tabs-TabListItemContent {
    height:100%
}

.Tabs-TabListItem--overflow-toggle .Icon {
    margin-top:2px
}

 

.App-Container.is-squareBordered .Tabs.is-desktop .Tabs-TabListOverflowContainer {
    border-radius:0
}

.App-Container.App-Container.is-veryRoundBordered .Tabs.is-desktop .Tabs-TabListOverflowContainer {
    border-radius:18px
}

.Tabs.is-desktop.is-icontabs .Tabs-TabList > .Tabs-TabListItemContainer {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    max-width:100%
}

.Tabs.is-desktop.is-icontabs .Tabs-TabList--wrap > .Tabs-TabListItemContainer {
    margin:0 8px 8px 0
}

.Tabs.is-desktop.is-contenttabs .Tabs-TabList > .Tabs-TabListItemContainer {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex:0
}

.Tabs.is-desktop .Tabs-TabList > .Tabs-TabListItemContainer.Tabs-TabListItemContainer--overflow-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex:0 1 auto
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListItemContainer {
    margin: 0;
    padding:0
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListItem:after {
    display:none
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListItem:not(:focus) {
    box-shadow: none;
    position:static
}

.Tabs.is-desktop .Tabs-TabListItem:hover .Tabs-TabListItemContent {
    opacity:1
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListItem:hover {
    background-color:rgba(26, 26, 26, .1)
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListItem:hover .Tabs-TabListItemContent {
    opacity:1
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListPaymentMethod {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items:center
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListPaymentIcon {
    min-width:28px
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListPaymentIcon img {
    margin: 0 auto;
    display:block
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListItem {
    padding: 8px 12px;
    border-radius: 0;
    border:0
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListPaymentMethod {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction:row
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer .Tabs-TabListPaymentLabel {
    margin-left:12px
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    top: -6px;
    right: -6px;
    z-index: 9999;
    display: block;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, transform .2s ease;
    transition:opacity .2s ease, transform .2s ease, -webkit-transform .2s ease
}

.Tabs.is-desktop .Tabs-TabListOverflowContainer--is-visible {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition: opacity .25s cubic-bezier(0, 1, .4, 1), -webkit-transform .25s cubic-bezier(.18, 1.25, .4, 1);
    transition: opacity .25s cubic-bezier(0, 1, .4, 1), transform .25s cubic-bezier(.18, 1.25, .4, 1);
    transition:opacity .25s cubic-bezier(0, 1, .4, 1), transform .25s cubic-bezier(.18, 1.25, .4, 1), -webkit-transform .25s cubic-bezier(.18, 1.25, .4, 1)
}

.Tabs.is-desktop .Tabs-TabListItemContainer--overflow-button .Tabs-TabListItem:focus {
    box-shadow:0 0 0 1px #e0e0e0
}

.Tabs.is-desktop .Tabs-TabList--wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap:wrap
}

.card-header{
    border-bottom:0px!important;
} 
.border-div{
    border-top:1px !important;
}
.Tabs.is-desktop .Tabs-TabList--wrap .Tabs-TabListItemContainer {
    margin-left:0
}

.Tabs.is-desktop .Tabs-TabList.Tabs-TabList--wrap > .Tabs-TabListItemContainer {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width:max-content
}

.Tabs.is-mobile .Tabs-TabList {
    overflow-x: scroll;
    overflow-x: -moz-scrollbars-none;
    scrollbar-width: none;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: -16px -50vw;
    padding-top: 16px;
    padding-bottom:16px
}

.Tabs.is-mobile.is-overflowing .Tabs-TabListItemContainer {
    -webkit-flex-basis: 27vw;
    -ms-flex-preferred-size: 27vw;
    flex-basis: 27vw;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink:0
}

@media only screen and (max-width: 320px) {
    .Tabs.is-mobile.is-overflowing .Tabs-TabListItemContainer {
        -webkit-flex-basis: 26vw;
        -ms-flex-preferred-size: 26vw;
        flex-basis:26vw
    }
}

.Tabs.is-mobile .Tabs-TabList > .Tabs-TabListItemContainer:first-of-type {
    margin-left:16px
}

.Tabs.is-mobile .Tabs-TabList > .Tabs-TabListItemContainer:last-of-type {
    padding-right:16px
}

.Tabs.is-mobile .Tabs-TabListItemContainer--overflow-button {
    display:none
}

@media only screen and (min-width: 412px) {
    .Tabs.is-mobile .Tabs-TabList > .Tabs-TabListItemContainer:first-of-type {
        margin-left:calc((100vw - 380px)/2)
    }

    .Tabs.is-mobile .Tabs-TabList > .Tabs-TabListItemContainer:last-of-type {
        padding-right:calc((100vw - 380px)/2)
    }
}

.Tabs.is-mobile .Tabs-TabList::-webkit-scrollbar {
    display:none
}

.Tabs.is-icontabs .Tabs-TabListItemContainer, .Tabs.is-icontabs .Tabs-TabListOverflowContainer {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left:8px
}

.Tabs.is-contenttabs .Tabs-TabListItemContainer, .Tabs.is-contenttabs .Tabs-TabListOverflowContainer {
    margin-left:8px
}

.Tabs .Tabs-TabListItemContainer:first-of-type {
    margin-left:0
}

.Tabs-TabListItem {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    border: 0;
    text-align: left;
    /* !important to override normalize.css */
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    transition: box-shadow .08s ease-in, border .08s ease-in;
    position:relative
}

.Tabs.is-icontabs .Tabs-TabListItem {
    border-radius: 6px;
    padding: 10px 12px 8px;
    color: rgba(26, 26, 26, .9);
    box-shadow: 0 0 0 1px #e0e0e0;
    background-color: #fff;
    font-size:12px;
    justify-content: center!important;
}

.App-Container.is-squareBordered .Tabs.is-icontabs .Tabs-TabListItem {
    border-radius:0
}

.App-Container.is-veryRoundBordered .Tabs.is-icontabs .Tabs-TabListItem {
    border-radius:18px
}

.Tabs.is-icontabs .Tabs-TabListItem:focus-visible {
    box-shadow:0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.Tabs.is-contenttabs .Tabs-TabListItem {
    padding: 4px 0;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    height:auto
}

.Tabs-TabListItem::-moz-focus-inner {
    outline:0 !important
}

.Tabs-TabListItem:focus {
    outline:0 !important
}

.Tabs-TabListItem:focus-visible {
    box-shadow:0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.Tabs-TabListItem:after {
    content: "";
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .2s ease;
    opacity:0
}

.Tabs.is-icontabs .Tabs-TabListItem:after {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    border-radius:6px
}

.Tabs.is-contenttabs .Tabs-TabListItem:after {
    position: absolute;
    height: 2px;
    top: calc(100% - 2px);
    left: -1px;
    background:#5469d4
}

.Tabs.is-icontabs .Tabs-TabListItem--is-selected:after {
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.Tabs.is-icontabs .Tabs-TabListItem--is-selected:after, .Tabs.is-icontabs .Tabs-TabListItem:hover:after {
    opacity:1
}

.Tabs.is-icontabs .Tabs-TabListItem--is-selected {
    box-shadow:0 0 0 1px rgba(26, 26, 26, .9), 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.Tabs.is-icontabs .Tabs-TabListItem--is-selected:focus {
    box-shadow:0 0 0 1px rgba(26, 26, 26, .9), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.Tabs.is-contenttabs .Tabs-TabListItem {
    opacity:.8
}

.Tabs.is-contenttabs .Tabs-TabListItem--is-selected:after {
    opacity:1
}

.Tabs.is-contenttabs .Tabs-TabListItem--is-selected {
    color: #5469d4;
    opacity:1
}

.Tabs.is-disabled .Tabs-TabListItem {
    cursor:auto
}

.Tabs-TabListItem .Tabs-TabListItemContent {
    opacity: .7;
    transition: opacity .2s ease;
    will-change: opacity;
    min-width: 0;
    overflow:hidden
}

.Tabs-TabListItem--is-selected .Tabs-TabListItemContent {
    opacity:1
}

.Tabs-TabListItem .Tabs-TabListItemContent svg {
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%)
}

.Tabs-TabListPaymentMethod {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction:column
}

.Tabs-TabListPaymentIcon, .Tabs-TabListPaymentLabel {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex:1 1 auto;
    text-align: center!important;
}

.Tabs-TabListPaymentLabel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    font-weight: bold;
}

.Tabs-TabListDropdown {
    position: absolute;
    right: 0;
    top: 100%;
    z-index:1
}
.SubmitButton-IconContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition:transform .3s ease, -webkit-transform .3s ease
}
.Tabs-TabListDropdown.Tabs-TabListDropdown--is-closed {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    visibility: hidden;
    margin: 0;
    padding: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none
}

.Tabs-TabPanelContainer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top:24px
}
 
.FakeWalletButton {
    height: 44px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom:16px
}

.FakeWalletButton--googlePay svg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform:scale(1.2)
}



 

.SubmitButton {
    position: relative;
    overflow: hidden;
    height: 44px;
    width: 100%;
    margin-top: 12px;
    padding: 0;
    color: #fff;
    box-shadow: inset 0 0 0 1px rgba(50, 50, 93, .1), 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 1px 0 rgba(0, 0, 0, .07);
    border: 0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease, box-shadow .08s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform:translateZ(0)
}

.SubmitButton:disabled {
    cursor:default
}

.SubmitButton-Shimmer {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 150%;
    opacity: 0;
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    transition:opacity .2s ease
}

.SubmitButton-Text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 44px;
    transition:all .2s ease
}

input::placeholder {
    color: darkgray !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.SubmitButton-Icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition:all .2s ease
}

.SubmitButton-SpinnerIcon .Icon, .SubmitButton-SpinnerIcon svg {
    height: 20px;
    width:20px
}

.SubmitButton-SpinnerIcon ellipse {
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 70;
    stroke-dashoffset: 30;
    fill: transparent;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: spinner-spin .6s linear infinite;
    animation:spinner-spin .6s linear infinite
}

.SubmitButton-CheckmarkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(calc(-50% + 2px)) translateX(-50%) scale(.6);
    -ms-transform: translateY(calc(-50% + 2px)) translateX(-50%) scale(.6);
    transform:translateY(calc(-50% + 2px)) translateX(-50%) scale(.6)
}

.SubmitButton-CheckmarkIcon path {
    stroke-linecap: round;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    opacity:0
}

.SubmitButton--clickable:hover, .SubmitButton--complete:hover {
    background-color: #005ebb;
    box-shadow:inset 0 0 0 1px rgba(50, 50, 93, .1), 0 6px 15px 0 rgba(50, 50, 93, .2), 0 2px 2px 0 rgba(0, 0, 0, .1)
}

.SubmitButton--clickable:active, .SubmitButton--complete:active {
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform:scale(.99)
}

.SubmitButton--clickable:focus, .SubmitButton--complete:focus, .SubmitButton--incomplete:focus {
    box-shadow:inset 0 0 0 1px rgba(50, 50, 93, .1), 0 6px 15px 0 rgba(50, 50, 93, .2), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 0 0 4px rgba(50, 151, 211, .3)
}

.SubmitButton--incomplete .SubmitButton-Text--current {
    opacity:.6
}

.SubmitButton--complete-Shimmer {
    opacity: 1;
    -webkit-animation: shimmer-move 3s ease infinite;
    animation:shimmer-move 3s ease infinite
}

.SubmitButton--complete:hover.SubmitButton--complete-Shimmer {
    opacity:.6
}

.SubmitButton--success {
    background-color:#24b47e
}

.SubmitButton--success .SubmitButton-IconContainer {
    -webkit-transform: translateX(calc(-50% + 10px));
    -ms-transform: translateX(calc(-50% + 10px));
    transform:translateX(calc(-50% + 10px))
}

.SubmitButton--disabled {
    box-shadow:none
}

.SubmitButton-Text--pre {
    opacity: 0;
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform:translateX(16px)
}

.SubmitButton-Text--post {
    opacity: 0;
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform:translateX(-16px)
}

.SubmitButton-Icon--post, .SubmitButton-Icon--pre {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(.9);
    -ms-transform: translateY(-50%) scale(.9);
    transform:translateY(-50%) scale(.9)
}

.SubmitButton-Icon--current {
    opacity:1
}

.SubmitButton-Icon--post-center {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1.3);
    -ms-transform: translateY(-50%) scale(1.3);
    transform: translateY(-50%) scale(1.3);
    transition-duration:.3s
}
 
 
body:after {
    display: block;
    content: "";
    height: 0;
    width: 100%;
    background: transparent;
    transition:height .4s ease
}

body.has-scroll-shim:after {
    height:80px
}

.InputContainer {
    position: relative;
    display: block;
    margin: 0;
    padding:0
}

.InputContainer:after {
    height: 0;
    visibility: hidden;
    content:attr(data-max)
}

.InputContainer-placeholder--ie {
    pointer-events: none;
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    color:#bbbbc2
}

.Input--empty + .InputContainer-placeholder--ie {
    top: 0;
    opacity:1
}

.InputContainer .InputElement {
    position: absolute;
    top:0
}

.InputContainer .InputElement::-webkit-input-placeholder {
    -webkit-text-fill-color:currentColor
}

.InputContainer .InputElement::-moz-placeholder {
    -webkit-text-fill-color:currentColor
}

.InputContainer .InputElement:-ms-input-placeholder {
    -webkit-text-fill-color:currentColor
}

.InputContainer .InputElement::placeholder {
    -webkit-text-fill-color:currentColor
}

.InputContainer .InputElement::-moz-placeholder {
    color:#000
}

.AutocompleteInput-container {
    position:relative
}

.AutocompleteInput-dropdown-container {
    position: absolute;
    width: 100%;
    top: calc(100% + 8px);
    z-index: 10;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 15px 35px 0 rgba(49, 49, 93, .08), 0 5px 15px 0 rgba(0, 0, 0, .06);
    border-radius:6px
}

.AddressAutocomplete-results {
    width: 100%;
    background-color: #fff;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    margin: 0;
    padding: 0;
    overflow:hidden
}

.AddressAutocomplete-manual-entry--inDropdown, .AddressAutocomplete-result, .AddressAutocomplete-suggestions-container, .AddressAutocomplete-tryAgain {
    padding:8px 12px
}

.AddressAutocomplete-tryAgain {
    color: rgba(26, 26, 26, .5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content:space-between
}

.AddressAutocomplete-tryAgainLink {
    font-size: 12px;
    color: rgba(26, 26, 26, .9);
    line-height:normal
}

.AddressAutocomplete-manual-entry.AddressAutocomplete-manual-entry--inDropdown {
    background-color: rgba(26, 26, 26, .05);
    border-radius: 0 0 6px 6px;
    box-shadow:0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.AddressAutocomplete-manual-entry--below-form {
    font-size: 12px;
    margin-top: 8px;
    text-align: left;
    float:left
}
 
.AddressAutocomplete--clear-button:focus, .AddressAutocomplete-manual-entry--below-form button:focus {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3);
    outline:none
}

.AddressAutocomplete--clear-dropdown-button {
    position: absolute;
    vertical-align: middle;
    right: 16px;
    top:12px
}

.AddressAutocomplete-spinner {
    display: none;
    position: absolute;
    height: 12px;
    right: 40px;
    top:12px
}

.AddressAutocomplete-results--aria-live-region, .HiddenInput {
    position: absolute;
    height: 2px;
    width: 2px;
    opacity:0
}

.HiddenInput {
    z-index:-1
}

.BrandIcon {
    height:16px
}

.BrandIcon.is-bank {
    height: 18px;
    border-radius:2.5px
}

.CheckoutInputContainer {
    position:relative
}

.CheckoutInputContainer-placeholderIcon {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: calc(50% + 2px);
    left: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform:translateY(-50%)
}

.CheckoutInputContainer-placeholderIcon svg {
    fill:rgba(26, 26, 26, .5)
}

.CheckoutInput--hasPlaceholderIcon {
    text-indent:24px
}

.CheckoutInputContainer--hasMailIcon {
    padding-top:2px
}

@media only screen and (max-width: 991.98px) {
    .CheckoutInput--hasPhoneNumberCountryCodeSelect {
        top:calc(50% + 1px)
    }
}

.CheckoutInput {
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 44px;
    padding: 8px 12px;
    color: #1A1A1A!important;
    font-size: 13px;
    line-height: 1.5;
    border: 0;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    transition: box-shadow .08s ease-in, color .08s ease-in, filter 50000s;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none
}

.is-darkMode .CheckoutInput {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .08), hsla(0, 0%, 100%, .08)), #000;
    box-shadow: 0 0 0 1px #232323;
    color:#fff
}

.CheckoutInput:-ms-input-placeholder {
    color:rgba(26, 26, 26, .5)
}

.CheckoutInput::placeholder {
    color:rgba(26, 26, 26, .5)
}

.CheckoutInput::-webkit-input-placeholder {
    color:rgba(26, 26, 26, .5)
}

.CheckoutInput::-moz-placeholder {
    color:rgba(26, 26, 26, .5)
}
 
 

.CheckoutInput + .InputContainer-placeholder--ie {
    z-index: 2;
    top: 9px;
    left: 12px;
    font-size: 16px;
    color:rgba(26, 26, 26, .5)
}

.CheckoutInput:focus {
    z-index: 2;
    outline: none;
    box-shadow:0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.CheckoutInput--fakeAutofill, .CheckoutInput:-webkit-autofill {
    -webkit-text-fill-color: rgba(26, 26, 26, .9);
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow:0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.CheckoutInput--fakeAutofill::-webkit-input-placeholder, .CheckoutInput:-webkit-autofill::-webkit-input-placeholder {
    -webkit-text-fill-color:rgba(26, 26, 26, .5)
}

.CheckoutInput--fakeAutofill::placeholder, .CheckoutInput:-webkit-autofill::placeholder {
    -webkit-text-fill-color:rgba(26, 26, 26, .5)
}

.CheckoutInput--fakeAutofill:focus, .CheckoutInput:-webkit-autofill:focus {
    transition: box-shadow .08s ease-in, color .08s ease-in, filter 50000s;
    box-shadow:0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3), inset 0 0 0 1000px #fefbe7
}

.CheckoutInput:disabled {
    color: rgba(26, 26, 26, .4);
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow:0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px rgba(26, 26, 26, .1)
}

.CheckoutInput--fakeAutofill:disabled, .CheckoutInput:disabled:-webkit-autofill {
    -webkit-text-fill-color:rgba(26, 26, 26, .4)
}

.CheckoutInput--invalid {
    z-index: 1;
    color: #dc2727;
    box-shadow:0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.CheckoutInput--invalid.CheckoutInput--fakeAutofill, .CheckoutInput--invalid:-webkit-autofill {
    -webkit-text-fill-color: #dc2727;
    box-shadow:0 0 0 1px rgba(220, 39, 39, .5), 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.CheckoutInput--tabularNumbers, .CheckoutInput--tabularNumbers + .InputContainer-placeholder--ie {
    font-variant-numeric: tabular-nums;
    letter-spacing:-.03rem
}

.CheckoutInput::-ms-clear {
    display:none
}

.InputContainer com-1password-op-button {
    display:none !important
}

.App-Container.is-squareBordered .InputContainer .CheckoutInput, .ModalContent--is-squareBordered .InputContainer .CheckoutInput {
    border-radius:0
}

.App-Container.is-veryRoundBordered .InputContainer .CheckoutInput, .ModalContent--is-veryRoundBordered .InputContainer .CheckoutInput {
    border-radius:18px
}

@media only screen and (min-width: 992px) {
    .App-Container:not(.App-Container--setupMode) .CheckoutInput {
        height: 36px;
        font-size: 14px;
        -webkit-transform: rotateY(0);
        transform:rotateY(0)
    }

    .App-Container:not(.App-Container--setupMode) .CheckoutInput + .InputContainer-placeholder--ie {
        font-size:14px
    }

    .App-Container.XL-Input:not(.App-Container--setupMode) .CheckoutInput {
        height:44px
    }
}

.Select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position:relative
}

.Select-source {
    width: 100%;
    height: 44px;
    font-size: 16px;
    padding: 8px 24px 8px 12px;
    color: rgba(26, 26, 26, .9);
    line-height: 1.5;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    transition: box-shadow .08s ease-in, color .08s ease-in, filter 50000s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none
}

.is-darkMode .Select-source {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .08), hsla(0, 0%, 100%, .08)), #000;
    box-shadow: 0 0 0 1px #232323;
    color:#fff
}

.Select-source--empty {
    color:rgba(26, 26, 26, .5)
}

.Select-source--empty option {
    color:rgba(26, 26, 26, .9)
}

.Select-source:focus {
    z-index: 2;
    outline: none;
    box-shadow:0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.Select--fakeAutofill .Select-source, .Select-source:-webkit-autofill {
    -webkit-text-fill-color: rgba(26, 26, 26, .9);
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow:0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.Select--fakeAutofill .Select-source:focus, .Select-source:-webkit-autofill:focus {
    transition: box-shadow .08s ease-in, color .08s ease-in, filter 50000s;
    box-shadow:0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3), inset 0 0 0 1000px #fefbe7
}

 

.Select-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    pointer-events: none;
    width: 12px;
    height: 12px;
    z-index:3
}

.is-darkMode .Select-arrow {
    fill:hsla(0, 0%, 100%, .5)
}

.Select-source:disabled + .Select-arrow {
    display:none
}

.Select-spinner {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -9px;
    pointer-events: none;
    width: 18px;
    height: 18px;
    z-index:3
}

.is-darkMode .Select-spinner {
    fill:hsla(0, 0%, 100%, .5)
}

.App-Container.is-squareBordered .FormFieldGroup-child .Select-source {
    border-radius:0
}

.App-Container.is-veryRoundBordered .Select .Select-source {
    border-top-left-radius:18px
}

@media only screen and (min-width: 992px) {
    .App-Container:not(.App-Container--setupMode) .Select-source {
        height: 36px;
        font-size:14px
    }

    .App-Container.XL-Input:not(.App-Container--setupMode) .Select-source {
        height:44px
    }
}

.FormFieldInput {
    position:relative
}

.FormFieldInput-Icon {
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 12px;
    z-index:3
}

.FormFieldInput.is-select .FormFieldInput-Icon {
    left: 0;
    right: auto;
    padding-left:12px
}

.FormFieldInput-Icons {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right:8px
}

.FormFieldInput-Icons, .FormFieldInput-IconsIcon {
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index:3
}

.FormFieldInput-IconsIcon {
    padding-right:4px
}

.FormFieldInput-Icon.is-disabled img, .FormFieldInput-Icon.is-disabled svg {
    -webkit-filter: grayscale(.8);
    filter: grayscale(.8);
    opacity:.4
}

.FormFieldInput-Icon img, .FormFieldInput-Icon svg {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    opacity: 0;
    transition: opacity .7s cubic-bezier(.075, .82, .165, 1), -webkit-transform .4s cubic-bezier(.075, .82, .165, 1);
    transition: transform .4s cubic-bezier(.075, .82, .165, 1), opacity .7s cubic-bezier(.075, .82, .165, 1);
    transition:transform .4s cubic-bezier(.075, .82, .165, 1), opacity .7s cubic-bezier(.075, .82, .165, 1), -webkit-transform .4s cubic-bezier(.075, .82, .165, 1)
}

.FormFieldInput-Icon.is-loaded img, .FormFieldInput-Icon.is-loaded svg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1
}

.FormFieldInput-Icon.is-select svg, .FormFieldInput.is-select img {
    transition: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity:1
}

.FormFieldInput.is-select.has-icon select {
    text-indent:26px
}

.FormFieldInput--rounded, .FormFieldInput--rounded input {
    border-radius:6px
}

.FormFieldInputFloatingLabel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: opacity .15s cubic-bezier(.075, .82, .165, 1);
    position: absolute;
    right: auto;
    opacity: 0;
    height: 0;
    top: -1px;
    font-size: 11px;
    left: 0;
    padding-left: 12px;
    z-index: 3;
    color:rgba(0, 102, 186, .78)
}

label.FormFieldInputFloatingLabel.is-focused {
    transition: opacity .35s cubic-bezier(.075, .82, .165, 1);
    opacity: 1;
    height: auto;
    color:rgba(0, 102, 186, .78)
}

label.FormFieldInputFloatingLabel.is-error {
    opacity: 1;
    height: auto;
    color:#dc2727
}

.FieldError {
    transition: all .3s ease;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    pointer-events:none
}

.FieldError:not:empty {
    margin-top:4px
}

.FormFieldGroup-legend {
    position: absolute;
    height: 2px;
    width: 2px;
    opacity:0
}

.FormFieldGroup--is-empty .FormFieldInput-Icon {
    display:none
}

.FormFieldGroup--is-empty .FormFieldGroup-childLeft .Input:not(:focus), .FormFieldGroup--is-empty .FormFieldGroup-childLeft .Select-source:not(:focus) {
    box-shadow:0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.FormFieldGroup-Fieldset {
    margin: 4px 0 0;
    border: none;
    padding:0
}

.FormFieldGroup-labelContainer {
    position:relative
}

.FormFieldGroup-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap:wrap
}

.FormFieldGroup-container--supportTransitions {
    -webkit-perspective: 800px;
    perspective:800px
}

.FormFieldGroup-container--invalid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: 0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    border-radius:6px
}

.FormFieldGroup-child {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 0;
    max-width: 100%;
    -webkit-transform-origin: "0%";
    -ms-transform-origin: "0%";
    transform-origin: "0%"
}

.FormFieldGroup-child--width-12 {
    width:100%
}

.FormFieldGroup-child--width-6 {
    width:50%
}

.FormFieldGroup-child .CheckoutInput, .FormFieldGroup-child .Select-source {
    border-radius:0
}

.FormFieldGroup-childTop.FormFieldGroup-childLeft .CheckoutInput, .FormFieldGroup-childTop.FormFieldGroup-childLeft .Select-source {
    border-top-left-radius:6px
}

.FormFieldGroup-childTop.FormFieldGroup-childRight .CheckoutInput, .FormFieldGroup-childTop.FormFieldGroup-childRight .Select-source {
    border-top-right-radius:6px
}

.FormFieldGroup-childBottom.FormFieldGroup-childLeft .CheckoutInput, .FormFieldGroup-childBottom.FormFieldGroup-childLeft .Select-source {
    border-bottom-left-radius:6px
}

.FormFieldGroup-childBottom.FormFieldGroup-childRight .CheckoutInput, .FormFieldGroup-childBottom.FormFieldGroup-childRight .Select-source {
    border-bottom-right-radius:6px
}

.App-Container.is-veryRoundBordered .FormFieldGroup .CheckoutInput, .App-Container.is-veryRoundBordered .FormFieldGroup .Select-source, .ModalContent--is-veryRoundBordered .FormFieldGroup .CheckoutInput, .ModalContent--is-veryRoundBordered .FormFieldGroup .Select-source {
    border-radius:0
}

.App-Container.is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childLeft .CheckoutInput, .App-Container.is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childLeft .Select-source, .ModalContent--is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childLeft .CheckoutInput, .ModalContent--is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childLeft .Select-source {
    border-top-left-radius:18px
}

.App-Container.is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childRight .CheckoutInput, .App-Container.is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childRight .Select-source, .ModalContent--is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childRight .CheckoutInput, .ModalContent--is-veryRoundBordered .FormFieldGroup-childTop.FormFieldGroup-childRight .Select-source {
    border-top-right-radius:18px
}

.App-Container.is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childLeft .CheckoutInput, .App-Container.is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childLeft .Select-source, .ModalContent--is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childLeft .CheckoutInput, .ModalContent--is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childLeft .Select-source {
    border-bottom-left-radius:18px
}

.App-Container.is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childRight .CheckoutInput, .App-Container.is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childRight .Select-source, .ModalContent--is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childRight .CheckoutInput, .ModalContent--is-veryRoundBordered .FormFieldGroup-childBottom.FormFieldGroup-childRight .Select-source {
    border-bottom-right-radius:18px
}

.FormFieldGroup-singleChild {
    border-radius:6px !important
}
 
.Tooltip {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    pointer-events:none
}

.Tooltip .Tooltip-Text {
    position: relative;
    max-width: 200px;
    min-width: 150px;
    background-color: #fff;
    border-radius: 6px;
    padding: 14px;
    z-index: 1;
    box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(129, 129, 136, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
    line-height:15px
}

.is-darkMode .Tooltip .Tooltip-Text .Text {
    color:rgba(26, 26, 26, .8)
}

.Tooltip .Tooltip-Arrow {
    position: absolute;
    height: 21px;
    width:17px
}

.Tooltip .Tooltip-Text--above {
    top: -100%;
    left:-50%
}

.Tooltip .Tooltip-Text--above .Tooltip-Arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 100%;
    right: 50%;
    margin-top: -7px;
    margin-right:-8px
}

.Tooltip .Tooltip-Text--below {
    top: 0;
    left:-50%
}

.Tooltip .Tooltip-Text--below .Tooltip-Arrow {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
    left: 50%;
    margin-top: -14px;
    margin-left:-9px
}

.Tooltip .Tooltip-Text--left {
    top: -50%;
    left:-100%
}

.Tooltip .Tooltip-Text--left .Tooltip-Arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 50%;
    right: 0;
    margin-top: -10.5px;
    margin-right:-12px
}

.Tooltip .Tooltip-Text--right {
    top: -50%;
    left:0
}

.Tooltip .Tooltip-Text--right .Tooltip-Arrow {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 50%;
    left: 0;
    margin-top: -10.5px;
    margin-left:-12px
}

.Tooltip-animate, .Tooltip-animate-exited {
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
    opacity: 0;
    transition: opacity .25s cubic-bezier(0, 1, .4, 1), -webkit-transform .25s cubic-bezier(.18, 1.25, .4, 1);
    transition: opacity .25s cubic-bezier(0, 1, .4, 1), transform .25s cubic-bezier(.18, 1.25, .4, 1);
    transition:opacity .25s cubic-bezier(0, 1, .4, 1), transform .25s cubic-bezier(.18, 1.25, .4, 1), -webkit-transform .25s cubic-bezier(.18, 1.25, .4, 1)
}

.Tooltip-animate-exiting {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
    transition: opacity .2s ease-in, -webkit-transform .2s ease-in;
    transition: opacity .2s ease-in, transform .2s ease-in;
    transition:opacity .2s ease-in, transform .2s ease-in, -webkit-transform .2s ease-in
}

.Tooltip-animate-entered, .Tooltip-animate-entering {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1
}

@media only screen and (min-width: 768px) {
    .Tooltip .Tooltip-Text {
        width:200px
    }
}
   
 
.CardFormFieldGroupIconOverflow {
    width: 28px;
    height: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items:center
}

.CardFormFieldGroupIconOverflow-Item {
    transition: all .4s ease;
    transition-delay: .15s;
    position: absolute;
    top: 0;
    left:0
}

.CardFormFieldGroupIconOverflow-Item--visible {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform:scale(1)
}

.CardFormFieldGroupIconOverflow-Item--invisible {
    opacity: 0;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform:scale(.9)
}

.ReadOnlyCardField-field {
    padding: 8px 12px;
    line-height: 1.5;
    height: 44px;
    font-size:16px
}

.ReadOnlyCardField-number {
    border-bottom:1px solid rgba(26, 26, 26, .1)
}

.ReadOnlyCardField-expiry {
    border-right:1px solid rgba(26, 26, 26, .1)
}

.ReadOnlyCardField-cvc, .ReadOnlyCardField-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items:center
}

@media only screen and (min-width: 992px) {
    .App-Container:not(.App-Container--setupMode) .ReadOnlyCardField-field {
        height: 36px;
        font-size:14px
    }

    .App-Container.XL-Input:not(.App-Container--setupMode) .ReadOnlyCardField-field {
        height:44px
    }
}
   

.SignUpForm-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 8px 12px;
    border: 0;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    transition: box-shadow .08s ease-in, color .08s ease-in, filter 50000s;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:6px
}

.is-darkMode .SignUpForm-container {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .08), hsla(0, 0%, 100%, .08)), #000;
    box-shadow: 0 0 0 1px #232323;
    color:#fff
}

.SignUpForm-checkboxContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 12px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow:0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.App-Container.is-squareBordered .SignUpForm-checkboxContainer {
    border-radius:0
}

.App-Container.App-Container.is-veryRoundBordered .SignUpForm-checkboxContainer {
    border-radius:18px
}

.SignUpForm-checkboxContainer--checked {
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0
}

.SignUpForm-container .PhoneNumberInput {
    padding:20px 0
}

.SignUpForm-phoneInput {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius:6px
}

.FormFieldCheckbox.SignUpForm-checkbox {
    margin-top:-2px
}

.SignUpForm-checkbox .Checkbox-InputContainer {
    top:3px
}

.SignUpForm-checkbox .Checkbox-Label {
    font-size: 14px;
    font-weight: 400;
    color:rgba(26, 26, 26, .9)
}

.SignUpForm-checkbox .SignUpForm-subLabel {
    color: rgba(26, 26, 26, .4);
    font-size: 13px;
    margin-top:4px
}

 
 
.App-Background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:-1
}

.App-Container {
    min-height:100vh
}

.App-Container:not(.is-noBackground) {
    background-image:linear-gradient(180deg, transparent, transparent 500px, #fff 0, #fff)
}

.App {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top:0
}

.App.App--multiItem {
    padding-top:76px
}

.App.App--singleItem {
    padding-top:16px
}

.App-mobileActions > *, .App-Overview, .App-Payment > * {    
    margin:0 auto;
} 

.App-Payment {
    box-shadow: 0 0 0 1px hsl(0deg 0% 100% / 20%), 0 15px 35px 0 rgb(255 255 255 / 8%), 0 5px 15px 0 rgb(0 0 0 / 6%);
    padding-top: 24px;
    background-color:#fff;
    max-width: 470px;
    min-width: 320px;
    margin: auto;
}

.is-darkMode .App-Payment {
    background-color:#000
}

.App-Container:not(.is-noBackground) .App-Payment {
    box-shadow:0 0 30px rgba(0, 0, 0, .04)
}

